/* write your carousel css in this file */

/* Carousel.css */

.container {
  position: relative;
  overflow: hidden;
}

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333;
  color: white;
  height:86vh;
  width: 510px;
  padding: 20px;
}

.carousel-title {
  font-size: 24px;
  margin-bottom: 10px;
  background: #fff;
  width:200px;
  position: absolute;
  height: 50px;
  padding: 10px;
  color:black;
  height:50px;
}

.carousel-subtitle {
  font-size: 18px;
  margin-bottom: 20px;
  background: #fff;
  color: black;
  position: absolute;
  margin-top:36vh;
  width:200px;
  height:60px;
  padding : 10px;
}

.carousel-img {
  max-width: 100%;
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.arrow-back {
  left: 10px;
}

.arrow-forward {
  right: 10px;
}
